
/*Colors*/

$pink: #ba698f;
$green: #a0b75a;
$purple: #342A4C;
$orange: #ea572c;
$purple-dark: #471638;

.bg-purple {
  background-color: $purple;
}
.bg-purple-dark {
  background-color: $purple-dark;
}
.bg-orange {
  background-color: $orange;
}
.bg-green {
  background-color: $green;
}
.bg-pink {
  background-color: $pink;
}
body {
  font-family: 'Overpass', sans-serif;
  color: $purple;
}
.header-article h1 {
  font-weight: 400;
}
.slogan {
  color: $green;
}
article p {
  font-weight: 300;
}

/* Navbar */
.navbar-nav  {
  font-family: 'Overpass', sans-serif;
  font-weight: 900;
  .nav-link {
    color: $purple !important;
    &:hover {
      color: $pink !important;
    }
  }
}
.navbar-brand {
  flex: 1;
}
.bd-navbar {
  @media (min-width: 768px) {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1071;
  }
}